<h1>
    <%=user.name  %>
</h1>
<a href="<%=user.url %>">
    <%= user.login %>
</a>
<p>follower:
    <%= user.followers %> | folowoing:
        <%= user.following %> | Repositories:
            <%= user.public_repos %>
</p>
<% repo.forEach(function(rep){ %>
    <h2>
        <%= rep.name %>
    </h2>

    <% }) %>